<div class="row">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      Register
    </div>
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" [formGroup]="registerationForm">
        <div class="form-group col-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="userName">
            <span class="error-block" *ngIf="!userName.valid && userName.touched">
              Please enter your user name
            </span>
        </div>

        <div class="form-group col-12">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" formControlName="email">
          <span class="error-block" *ngIf="!email.valid && email.touched">
            <span *ngIf="email.hasError('required')">
              Please enter your E-mail
            </span>
            <span *ngIf="email.hasError('email')">
              Please enter valid Email
            </span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="passwrod" class="form-label">Password</label>
          <input type="text" class="form-control" formControlName="password">
          <span class="error-block" *ngIf="!password.valid && password.touched">
            <span *ngIf="password.errors['required']">
              Please enter your Password
            </span>
            <span *ngIf="password.errors.minlength">
              Password should be more than 8 characters
            </span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="cpassword" class="form-label">Confirm Password</label>
          <input type="text" class="form-control" formControlName="confirmPassword">
          <span class="error-block" *ngIf="!confirmPassword.valid && confirmPassword.touched">
            <span *ngIf="confirmPassword.hasError('required')">
              Please confirm password
            </span>
          </span>
          <span class="error-block" *ngIf="registerationForm.hasError('notmatched') && confirmPassword.valid">
            Password not match
          </span>
        </div>

        <div class="form-group col-12">
          <label for="mobile" class="form-label">Mobile</label>
          <input type="text" class="form-control" formControlName="mobile">
        </div>

        <div class="form-group col-12 mt-3">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="reset" class="btn btn-secondary ms-2">Cancel</button>
        </div>
      </form>
      Form Value : {{registerationForm.value | json}} <br>
      Form Status : {{registerationForm.valid}}
    </div>
  </div>
  </div>
</div>
